.list-gourmet {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;
}

.list-gourmet li {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 15px;
    padding: 0.5rem;
    max-width: 200px;
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
    font-size: 15px;
}

.list-gourmet li:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.list-gourmet img {
    max-width: 100%;
    border-radius: 8px;
}

@media (max-width:550px) {
    .list-gourmet li {
        max-width: 180px;
    }
}

@media (max-width:500px) {
    .list-gourmet li {
        max-width: 150px;
    }
}